# Build directories
build/
cmake-build-*/

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Compiled files
*.exe
*.dll
*.obj
*.o
*.so
*.dylib

# IDE
.vscode/
.idea/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Output files
*.log
*.out
